<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot List</title>
    <style>
        th, td {
            padding: 5px;
            border: 1px solid #000;
            text-align: left;
        }
        img {
            width: 100px;
            height: auto;
            border-radius: 0px;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Screenshot List</h1>
    <table>
        {% for image in images %}
        <tr>
            <td>
                <a href="{{ url_for('get_screenshot', filename=image) }}" target="_blank">
                    <img src="{{ url_for('get_screenshot', filename=image) }}" alt="Screenshot">
                </a>
            </td>
            <td>
                <a href="{{ url_for('get_screenshot', filename=image) }}" target="_blank">{{ image }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
